<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="lightblue">
    <%-include("partial/header")%>

    <h1>welcome to search page</h1>

    <form action="searchdata" method="post">
        Search employee from id  : <input type="text"  name="myid" id="">
        <button>search</button>
    </form>
</body>
</html>