<a href="/">Home</a>   |
    <a href="/insert">Inset</a>   |
    <a href="/display">Display</a>   |
    <a href="/update">Update</a>   |
    <a href="/search">Search</a>   |

    <hr size="4" color="black">